.certificate-wrapper {
  width: 90%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
  
}
.certificate-div::before {
  content: ' ';
  position: absolute;
  left: -100px;
  top: -50px;
  width: 180px;
  height: 180px;
  background-color: #00cba9;
  transform: rotate(45deg);
  z-index: 1;
}
.certificate-div::after {
  content: ' ';
  position: absolute;
  right: -100px;
  bottom: -50px;
  width: 180px;
  height: 180px;
  background-color: #00cba9;
  transform: rotate(45deg);
  z-index: 1;
}
.certificate-div {
  position: relative;
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid #00cba9;
  outline: 3px solid #00cba9;
  outline-offset: -12px;
  overflow: hidden;
}
.certificate-header {
  width: 100%;
  margin-top: 20px;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}
.logo-company-name {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  font-size: 24px;
  font-weight: 500;
  color: #3b3f40;
}
.logo-company-name img {
  width: 40px;
  height: 40px;
}

.couese-name span {
  font-size: 40px;
  font-weight: 600;
  color: #022e4c;
}
.couese-name {
  /* background-color: yellow; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #022e4c;
  word-spacing: 5px;
  letter-spacing: 5px;
}
.certificate-holder-name {
  width: 60%;
  height: 10%;
  padding: 10px;
  border-bottom: 0.5px solid #022e4c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.name {
  font-size: 18px;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 5px;
}
.certificate-mid {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note {
  color: #807f84;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.note span {
  color: #2f2f33;
}
.certificate-low {
  width: 100%;
  height: 30%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.certificate-low-left {
  width: 40%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 18px;
  font-weight: 600;
  color: #022e4c;
}
.date-label {
  font-size: 16px;
  font-weight: 600;
  color: #022e4c;
}
.certificate-low-right {
  width: 40%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.certificate-low-right img {
  width: 180px;
  height: 44px;
}
.signature-label {
  font-size: 16px;
  font-weight: 600;
  color: #022e4c;
}