@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Cabin&family=Exo&family=Indie+Flower&family=Inter+Tight:ital,wght@1,300&family=Inter:wght@300;400&family=Maven+Pro&family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500&family=Qahiri&family=Quicksand&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body {
  min-height: 100vh;
}
.left {
  width: 35%;
  min-height: 100vh;
  background-color: rgba(247, 253, 255, 0.695);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.left-forms {
  width: 100%;
  height: auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.right {
  width: 65%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 34px;
}
.generate-button {
  width: 150px;
  height: 44px;
  background-color: rgba(21, 207, 160, 0.867);
  color: white;
  font: 500;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.inputfile + label {
  cursor: pointer;
}
input[type="text"] {
  width: 70%;
  border: 0.5px solid grey;
}
.upload-section {
  width: 70%;
  height: 44px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border: 0.5px solid grey;
  border-radius: 7px;
}
@media only screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
